
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>  Customer Form</h4>
                </div>
                  
                </div>   
                <table class="table table-bordered">
    <tr >
        <td>
            name 
        </td>
        <td>
            amount
        </td>
        <td>
            item
        </td>

    </tr> 

   <button value="Add" (click)="onSubmit()">Add</button> 

<tr *ngFor="let s of arr1;index as i">
    <td>{{s.name}}</td>
    <td>{{s.amount}}</td>
    <td>{{s.item}}</td>

    <button [routerLink]="['/edit',i]">Edit</button>

  <button value="Delete" (click)="Delete(i)">Delete</button>  

    </tr>

</table>  
       
        </div>
    </div>



